<img src="{{ value.photo }}" alt="{{ value.name }}" class="img-responsive"/>

<div class="product-box-description">
        <span ng-repeat="tag in value.keywords">
            <span class="label label-info"> {{ tag }} </span>&nbsp;
        </span>

    <form ng-show="isEditMode" name="product">
        <div class="form-group" ng-class="{'has-error' : product.price.$invalid, 'has-success': product.price.$valid}">
            <input name="name" type="text" ng-model="value.name" class="form-control"/>
            <textarea name="desc" rows="3" ng-model="value.desc" class="form-control"></textarea>
            <input type="number" name="price" ng-model="value.price" class="form-control" required/>
        </div>
    </form>

    <h4 ng-hide="isEditMode"><a ng-href="#product/{{value.id}}">{{ value.name }}</a></h4>

    <p ng-hide="isEditMode" ng-click="onShowHideDescriptionChange()" class="product-description">
        <span ng-hide="showHideDescription">{{ value.desc_short }}</span>
        <span ng-show="showHideDescription">{{ value.desc }}</span>
    </p>
    <button class="btn btn-xs btn-default btn-link pull-right" ng-click="onEditInPlaceChange()">
        <span class="glyphicon glyphicon-edit"></span>
    </button>

    <buy-box-directive product="value"></buy-box-directive>
</div>